.logo{
    margin-top: -70px;
    margin-left: -30px;

}
.category_button{
    position: absolute;
    cursor: pointer;
    float: right;
    margin-right: 1150px;
    margin-top: 30px;
    border: none;
    background-color: white;
    width: 50px;
}
.category_button span{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 14px;
}
.login_button{
    position: absolute;
    margin-left: 940px;
    margin-top: 22px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(108 93 211);
    border: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.signup_button{
    position: absolute;
    margin-left: 1050px;
    margin-top: 22px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(108 93 211);
    border: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.cart_button{
    position: absolute;
    background-color: white;
    border: none;
    margin-left: 830px;
    margin-top: 22px;
    cursor: pointer;
}
hr{
    position: relative;
    margin-top: -60px;
    height: 2px;
    background-color: rgb(108 93 211);
}
#about_us{
    position: absolute;
    margin-top: 36px;
    margin-left: 180px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 14px;
    cursor: pointer;
}
a :hover {
    text-decoration:2px underline rgb(108 93 211);
    text-underline-offset: 5px;
}