<div *ngIf="loaded; else loading">
    <div id="book_details">
            <img src="{{book.image}}" width=320px>
            <div id="text">
                <h2>{{book.title}}</h2>
                <h3>{{book.price}}</h3>
                <button id="add_to_cart_btn">Add to cart</button>
                <h4>Author: {{book.author}}</h4>
                <h4>Year: {{book.year}}</h4>
                <h4>Publisher: {{book.publisher}}</h4>
                <p>{{book.description}}</p>
            </div>
    </div>
</div>

 <div class="inner">
    <p>Rating: {{book.rating}}</p>
</div>


<div class="btns">
    <div class="like-btn">
        <button class="like" (click)="book.likes=book.likes+1"><img src="https://cdn.pixabay.com/photo/2020/09/30/07/48/heart-5614865_1280.png" width="30px"><div class="num">{{book.likes}}</div></button>        
    </div>
</div> 

<ng-template #loading>
    <p>Book details are loading...</p>
</ng-template>