<div *ngIf="logged">
  <h2>Shopping Cart</h2>
    <button (click)="logout()" id="submit">Logout</button>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.book.title }} - {{ item.book.price }}
      </li>
    </ul>
  </div>
<div *ngIf="!logged">
    <h1>Please log in to view your shopping cart.</h1>
    <h3>Login form</h3>
    <fieldset>
      <label for="username">Username: </label>
      <input type="text" id="username" [(ngModel)]="username">
    </fieldset>
    <fieldset>
      <label for="password">Password: </label>
      <input type="password" id="password" [(ngModel)]="password">
    </fieldset>
    <button (click)="login()" id="submit">Login</button>
</div>