* {
    font-family: 'Proxima Nova', sans-serif;
}


.label-text {
    text-shadow: 2px 2px hsl(318, 82%, 89%);
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: rgb(108 93 211);
}

#second-page-text {
    border: 2px solid rgb(108 93 211);
    background-color: rgb(240, 238, 251);
    border-radius: 12px;
}

#secondd {
    margin-top: -40px;
    padding: 0;
}

.podz {
    font-size: 22px;
    color:rgb(71, 74, 141);
}

.last {
    color: rgb(105, 55, 104);
    font-size: 17px;
}

#first-page p {
    margin-left: 180px; 
    padding: 20px;
}

.green-button {
    background-color: rgb(108 93 211); 
    color: white; 
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem; 
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 4px; 
    box-shadow: 2px 2px 2px rgba(88, 88, 88, 0.2); 
    transition: all 0.3s ease; 
}
  
.green-button:hover {
    background-color: rgb(108 93 211); 
    box-shadow: 4px 4px 4px rgba(113, 113, 113, 0.4); 
}

#book-shelf {
    width: 700px;
    height: auto;
    padding-right: 100px;
    margin-left: 50px;
    margin-top: 100px;
}

/* First page End */

/* Arrows */

#arrow {
    width: 200px;
    height: 300px;
    margin-left: 690px;
}

#arrowr {
    width: 200px;
    height: 300px;
    margin-left: 400px;
    margin-top: -5px;
}

/* Arrows end */

/* Second page */

#second-page {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-shelf {
    margin-left: 20%;

    margin-top: 2%;
    width: 60%;
    height: auto;
    padding-left: -50px;
}

#second-page p {
    
    width: 500px;
    margin-left: 55px;
}

/* Third pade */
#third-page {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

#review-label {
    margin-top: 130px;
    text-align: center;
}

.review {
   
    width: 300px;
    height: 265px;
    margin: 0 25px;
}

.review-image {
    width: 200px;
    margin: 0 50px;
}

.review-text {
    border: 2px solid rgb(108 93 211);
    background-color: rgb(240, 238, 251);
    border-radius: 8px;
    margin-top: 35px;
    line-height: 26px;
}

.review-author {
    font-weight: bold;
    color:blue;
    margin-top: 35px;
}

.review-text, .review-author {
    text-align: center;
}

.quote {
    font-size: 20px;
    color:rgb(108 93 211)
}

/* End */

/* Footer Part */
footer {
    margin-top: 200px;
    margin-left: 100px;
    background-color: rgb(136, 122, 226);
    width: 100%;
    height: 350px;
    color: #ffffff !important;
}

#footer-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 270px;
}

#footer-logo {
    color: white;
    font-size: 41px;
    font-weight: bold;
    margin-right: 10px;
}

#connect {
    margin-left: 10px;
}

.media-icon {
    width: 33px;
    height: 33px;
    margin: 0 10px;
}

#footer-line {
    width: 66%;
    height: 0.4px;
    margin-left: 270px;
    background-color: #ffffff;
    margin-top: -10px;
}

#footer-blocks {
    display: flex;
    justify-content: space-between;
    column-count: 3;
    margin-left: 270px;
    margin-right: 500px;
}

.footer-header {
    font-size: 21px;
    font-weight: bold;
}

#footer-blocks a {
    color: #ffffff;
}

#footer-blocks p {
    color: #ffffff;
}

#footer-end {
    color: white;
    padding: 20px;
    font-size: 14px;
    margin-left: 250px;
}  



