        <div id="second-page">
        <img id="book-shelf" src="https://images.adsttc.com/media/images/573c/90c0/e58e/ce1e/1600/0007/large_jpg/Here_is_a_theater_to_unfold_an_outstanding_drama__and_the_characters_are_book_lovers_sitting_on_the_soft_couch_or_standing_beside_the_bookshelves._0004.jpg?1463587001">
        <div id="second-page-text">
            <p class="label-text">Welcome to our Bookstore, where stories come to life!</p>
            <p><span class="podz" id="secondd">Our website offers a vast selection of books,
                including popular bestsellers and hidden gems waiting to be discovered.</span><br><br>
                <span class="last">At Bookstore, we believe that the joy of reading should be accessible to everyone</span></p>
        </div>
    </div>


    <p class="label-text" id="review-label">Join millions of happy readers.</p>
    <div id="third-page">
        <div class="review">
            <img class="review-image" src="/assets/img/Bibolat2.jpeg" width=200px>
            <p class="review-text"><span class="quote">"</span>Bookstore's user-friendly mobile app allows me to carry my entire book collection in my pocket. It's a must-have for anyone who loves to read on the go.<span class="quote">"</span></p>
            <p class="review-author">Kaldybay Bibolat</p>
        </div>
        <div class="review">
            <img class="review-image" src="/assets/img/Iliyas.jpeg" width=200px>
            <p class="review-text"><span class="quote">"</span> This site for reading books exceeded my expectations. The library is extensive, and the interface is user-friendly. It's a fantastic resource for avid readers.<span class="quote">"</span></p>
            <p class="review-author">Bekturgan Iliyas</p>
        </div>
        <div class="review">
            <img class="review-image" src="assets/img/Shyngys.jpg" width=206px>
            <p class="review-text"><span class="quote">"</span>Shopping book in Bookstore is very easy. Quick delivery and fast response. Their services are awesome!<span class="quote">"</span></p>
            <p class="review-author">Yeszhan Shyngys</p>
        </div>
    </div>

    <footer>
        <div id="footer-bar">
            <p id="footer-logo">Book Store</p>
        </div>
        <div id="footer-line"></div>
        <div id="footer-blocks">
            <div>
                <p class="footer-header">Company</p>
                <a>About us</a><br>
                <a>Careers</a><br>
                <a>Privacy Policy</a><br>
                <a>Help</a>
            </div>
            <div>
                <p class="footer-header">Work with us</p>
                <a>+77717761396</a><br>
                <a>+77089619792</a><br>
                <a>+77773630006</a><br>
            </div>
            <div>
                <p class="footer-header" id="connect">Connect</p>
                <a href=""><img class="media-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/800px-Facebook_logo_%28square%29.png"></a>
                <a href=""><img class="media-icon" src="https://icones.pro/wp-content/uploads/2021/02/instagram-logo-icone4.png"></a>
                <a href=""><img class="media-icon" src="https://static.vecteezy.com/system/resources/previews/016/716/486/non_2x/twitter-icon-free-png.png"></a>
                <a href=""><img class="media-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png"></a>
            </div>
        </div>
        <p id="footer-end">&copy; 2024 Book Store. All rights reserved.</p>
    </footer>
